@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Mukta, Arial, Helvetica, sans-serif;
}
body{
    box-shadow:  0 0 0 #333 inset;
    font-size: 16px;
    width: 100vw;
    max-width: 1100px;
}
ul li{
    list-style: none;
}
.barraNav1{
    position: fixed;
    background-color: #fff;
    width: 100vw;
    padding: 25px 130px 25px 0;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
}
a{
    text-decoration: none;
}   
.aNav1{
    color: #0d0d38;
}
.aNav1:hover{
    color: #5d5b9b;
}
button{
    font-size: 20px;
    font-weight: 200;
    margin: 0 10px;
    background-color: #fff;
    outline: none;
    border: none;
}
button:active{
    border-radius: 50px;
    box-shadow: 0 0 10px 2px #7f7d9f;
}
.boton{
    color: #fff;
}
.boton:hover{
    color: #fff;
}
.contactoboton{
    background-color: #5d5b9b;
    border-radius: 100px;
    border: 0;
    padding: 3px 20px;
}
.contactoboton:hover{
    background-color: #7f7d9f;
}
.flex{
    display: flex;
}
.flexrowMq{
    display: flex;
    flex-direction: row;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.flexend{
    justify-content: flex-end;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
}
.flexcolumnMq{
    display: flex;
    flex-direction: column;
}
.jcontent-center{
    justify-content: center;
}
.alignitems-center{
    align-items: center;
}
.justify{
    justify-content: space-between;
}
.caja-inicio{
    padding: 0 50px;
} 
.imginicio{
    margin-top: 0;
}
.saludo{
    text-align: left;
    padding: 100px 0;
}
.fuente-saludo{
    font-size: 36px;
    font-weight: 700;
}
.nombre{
    font-size: 54px;
    font-weight: 900;
    color: #5d5b9b;
}
.pInicio{
    font-size: 18px;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
section{
    width: 100vw;
    padding: 110px 40px 130px;
    text-align: center;
    color: #0d0d38;
}
.introSection{
    padding: 0 0 55px;
}
.pSection{
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px 450px 0 450px;
}
.section-titulo{
    font-size: 48px;
    font-weight: 900;
}
.backgroundcolorClaro{
   background-color: #f5e6f7;
}
.backgroundcolorOscuro{
    background-color: #333769;
}
.card{
    border: solid 1px #a8a7b4;
    border-radius: 8px;
    margin: 10px;
    background-color: #fff;
    padding: 55px 65px;
    font-size: 22px;
    font-weight: 800;
    color: #333769;
}
.img-cardConocimientos{
    width: 55%; 
    height: 55%;
}
.card:hover{
    border: solid 1px #0d0d38;
    border-radius: 8px;  
    color: #0d0d38; 
}
.section-tituloContacto{
    font-size: 48px;
    font-weight: 900;
}
.vinculoscard2{
    color: #0d0d38;
}
.card2{
    width: 342px;
    border: solid 1px #7f7d9f;
    border-radius: 8px;
    margin: 10px;
    padding: 10px 20px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #33323D;
}
.card2:hover{
    border: solid 1px #0d0d38;
    border-radius: 8px;  
    color: #0d0d38; 
}
.pCards{
    margin: 5px 0 0; 
}
.cita{
    color: #f5e6f7;
    font-size: 25px;
    font-weight: 200;
}
.autorCita{
    font-size: 30px;
    font-weight: 900;
}
.img-cardProyectos{
    width: 85%;
    height: 85%;
}
.sectionContacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 90px 60px;
    margin: 90px 90px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #C0C0C0;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}
.fuenteRedes{
    font-size: 18px;
    color: #5d5b9b;
}
.fuenteRedes:hover{
   color: #0d0d38;
}
.pContacto{
    text-align: left;
    padding: 0 100px 0 0;
}
.linksContacto{
    margin: 30px 0 0; 
}
.iconosContacto{
    margin-top: 10px;
}
label{
    font-weight: 500;
    margin-bottom: 10px;
}
input[type=text]{
    background-color: #F6F7FB;
    color:  #C0C0C0;
    border-radius: 15px;
    font-size: 16px;
    width: 14em;
    height: 2.5em;
    border: none;
    margin-bottom: 10px;
    margin-right: 10px;
    outline: none;
}
input[type=text]:focus:valid{
    box-shadow: 0 0 4px 1px #009913;
}
input[type=text]:valid{    
    border: 1px solid #009913;
}
input[type=text]:focus{
    background-color: #F6F7FB;
    color:  #C0C0C0;
    border-radius: 15px;
    font-size: 16px;
    width: 14em;
    height: 2.5em;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px 2px #5d5b9b;
}
input[type=text]:focus:invalid {
    background-color: #F6F7FB;
    color:  #C0C0C0;
    border-radius: 15px;
    font-size: 16px;
    width: 14em;
    height: 2.5em;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0 0 4px 1px #F61505;
}
input[type=text]:invalid:required{    
    border: 1px solid #F61505;
}
input[type=email]{
    background-color: #F6F7FB;
    color:  #C0C0C0;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    width: 29em;
    height: 2.6875em;
    border: none;
    margin-bottom: 10px;
    outline: none;
}
input[type=email]:focus{
    background-color: #F6F7FB;
    color:  #C0C0C0;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    width: 29em;
    height: 2.6875em;
    border: none;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0 0 10px 2px #7f7d9f;
}
textarea{
    background-color: #F6F7FB;
    color:  #C0C0C0;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    width: 29em;
    height: 10.652em;
    margin-bottom: 20px;
    outline: none;
}
textarea:focus{
    background-color: #F6F7FB;
    color:  #C0C0C0;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    width: 29em;
    height: 10.652em;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0 0 10px 2px #7f7d9f;
}
::placeholder{
    padding-left: 0.625em;
    padding: top 0.3225em;;
}
.botonsubmit{
    color: #fff;
    background-color: #5d5b9b;
    border-radius: 100px;
    border: 0;
    padding: 8px 40px;
    font-size: 18px;
    outline: none;
}
.botonsubmit:hover{
    background-color: #7f7d9f;
}
.botonsubmit:active{
    box-shadow: 0 0 10px 2px #7f7d9f;
}
footer{
    width: 100vw;
}
.barraNav2{
    padding-top: 80px;
    font-size: 18px;
    font-weight: 200;
}
.aNav2{
    color: #fff;
    padding: 0 10px 0 10px;
}
.aNav2:active{
    box-shadow: 0 0 10px 2px #fff;
}
.contentIcons-footer{
    padding: 40px;
}
.iconosContacto-footer{
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}
.marginIcons-footer{
    margin-right: 18px;
}
.fa-github-alt:before{
    content: "\f113";
}
.fa-instagram:before{
    content: "\f16d";
}
.fa-envelope{
    content: "\f0e0";
}
.fa-linkedin-in{
    content: "\f0e1";
}
.fas, .fab{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333769;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px;
    background-color: #fff;
    margin-right: 5px;
    font-size: 20px;
}
.fas:hover, .fab:hover{
    color: #fff;
    background-color: #333769;
}
.pFooter{
    color: #fff;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 200;
}

/* MEDIA QUERIES */

@media screen and (max-width: 576px){
    nav{
        display: none;
    }
    .caja-inicio{
        padding: 150px 0 80px;
    }
    .saludo{
        text-align: center;
        padding: 0;
    }
    .pInicio{
        padding: 0 40px;
    }
    section{
        padding: 0;
    }
    .flexrowMq{
        display: flex;
        flex-direction: column;
    }
    .introSection{
        padding: 80px 0 45px;
    }
    .pSection{
        padding: 15px 100px 0;
    }
    .flex-wrapMq{
        flex-wrap: wrap;
    }
    .flexcolumnMq{
        display: flex;
        flex-direction: row;
    }
    .cards1Mq{
        padding: 15px 10px 40px 30px;
    }
    .img-cardConocimientos{
        width: 40%;
        height: 40%;
    }
    .card{
        padding: 45px 55px;
        font-size: 18px;
        margin: 0 10px 10px;
    }
    .cita{
        padding: 60px;
    }
    .card2{
        width: 244px;
        padding: 25px 20px 20px;
    }
    .img-cardProyectos{
        width: 75%;
        height: 75%;
    }
    .sectionContacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 40px;
        margin: 0;
        border: none;
    }
    .section-tituloContacto{
        padding-top: 100px;
    }
    .iconosContacto{
        margin-top: 10px;
        margin-right: 80px;
        margin-left: 5px;
    }
    footer{
        padding-top: 50px;
        margin-top: 180px;
    }

}



